/* font-family: 'IM Fell DW Pica SC', serif; */
/* font-family: 'IM Fell Great Primer', serif; */

.nav-wrapper {
  margin: auto 10px; 
  font-family: 'IM Fell Great Primer', serif;
}

#scrapeBtn {
  margin: 15px 0px;
}

.parallax-container {
  margin: 0;
  width: 100%;

}

#parallaxImg {
  height: 100%;
  width: 100%;
}

.title {
  margin: 150px auto;
  max-width: 500px;
  border-radius: 20px; 
  background: rgba(245, 245, 245, 0.726); 
  font-family: 'IM Fell DW Pica SC', serif;
}

#titleText, #subText {
  margin: 0;
}

.card {
  border-radius: 10px; 
}

.noArt{
  padding: 5px;
  font-family: 'IM Fell Great Primer', serif;
}

.card-action a {
  margin: 5px 10px;
}


 /* Notes =================== */
.notes {
  position: fixed; 
  bottom: 30px; 
  right: 30px; 
  width: 30%;
  background: whitesmoke;
  border-radius: 10px; 
  z-index: 3; 
}

textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
  resize: none;
}

input {
  height: 28px;
  font-size: 24px;
}

textarea {
  height: 150px;
  font-size: 18px;
  background-color: rgb(211, 228, 248);
}
#noteTitle {
  font-family: 'IM Fell Great Primer', serif;
  padding: 8px;
}

#titleInput {
  padding: 0 8px; 
}

#savenote {
  margin: 10px; 
}